.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-text-1 {
  margin: 125px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 415px;
  margin: 63px 35px 40px -8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}