.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 63px 34px 0 86px;
}

.u-section-1 .u-text-2 {
  margin: 17px 65px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0 434px 0 -304px;
}

.u-section-1 .u-text-4 {
  margin: 32px 17px 0 113px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 103px auto 0 176px;
  padding: 10px 41px 10px 40px;
}

.u-section-1 .u-text-5 {
  font-family: "ADLaM Display";
  margin: 113px 86px 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: Arial, sans-serif;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
    padding-right: 23px;
    padding-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    padding-right: 7px;
    padding-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 278px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 514px;
  margin: -22px 21px -214px -21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 298px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 204px;
  }
}