.u-section-1 .u-sheet-1 {
  min-height: 476px;
}

.u-section-1 .u-form-1 {
  height: 415px;
  margin: 0 0 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}